-treamlink==1.0.0
aniso8601==4.0.1
appdirs==1.4.3
astroid==2.1.0
attrs==18.2.0
beautifulsoup4==4.6.3
black==18.9b0
cachecontrol==0.12.5
cachetools==3.0.0
certifi==2018.11.29
chardet==3.0.4
click==7.0
configparser==4.0.2
cycler==0.10.0
decorator==4.4.1
docker-pycreds==0.4.0
firebase-admin==2.14.0
flask-restful==0.3.6
flask==1.0.2
gevent==1.3.7
gitdb==4.0.2
gitpython==3.1.0
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.13.2
google-resumable-media==0.3.1
googleapis-common-protos==1.5.5
gql==0.2.0
graphql-core==1.1
greenlet==0.4.15
grequests==0.3.0
grpcio==1.17.1
idna==2.7
imageio==2.6.1
iso-639==0.4.5
iso3166==0.9
isodate==0.6.0
isort==4.3.4
itsdangerous==1.1.0
jinja2==2.10
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
lxml==4.2.5
markupsafe==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
msgpack==0.6.0
netifaces==0.10.9
networkx==2.4
numpy==1.18.1
nvidia-ml-py3==7.352.0
pathtools==0.1.2
pick==0.6.4
pillow==7.0.0
pip==19.3.1
pittapi==0.1.2
promise==2.3
protobuf==3.6.1
psutil==5.7.0
pyasn1-modules==0.2.2
pyasn1==0.4.4
pycryptodome==3.7.3
pylint==2.2.2
pyparsing==2.4.6
pysocks==1.6.8
python-dateutil==2.8.1
pytz==2018.7
pywavelets==1.1.1
pyyaml==5.3
requests==2.21.0
rsa==4.0
scikit-image==0.16.2
scipy==1.4.1
sentry-sdk==0.14.2
setuptools==39.0.1
shortuuid==0.5.0
six==1.11.0
smmap==3.0.1
streamlink==1.0.0
subprocess32==3.5.4
toml==0.10.0
torch==1.4.0
torchvision==0.5.0
urllib3==1.24
virtualenv==16.0.0
wandb==0.8.28
watchdog==0.10.2
websocket-client==0.55.0
werkzeug==0.14.1
wrapt==1.10.11